html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

.login-form div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-form input {
    width: 20rem;
}

.login-form button {
}

.login-error {
    color: #a94442;
    background-color: #f2dede;
    text-align: center;
    width: 20rem;
}

.chat {
    position: relative;
    height: 100vh;
    max-height: 100vh;
}

.chat-log {
    max-height: calc(100vh - 1.4em);
    overflow-y: scroll;
}

.chat-row {
    font-size: 1.4rem;
    margin: 0.4rem 0 0.4rem 0.4rem;
}

.chat-timestamp {
    color: gray;
    font-size: 1.2rem;
    vertical-align: center;
}

.chat-icon {
    margin-left: 0.8rem;
}

.chat-player {
    font-weight: bold;
    margin-left: 0.8rem;
}

.chat-message {
    margin-left: 0.8rem;
}

.chat-event {
    font-style: italic;
    color: gray;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.chat-input input {
    width: 100%;
}
.chat-input span {
    display: block;
    overflow: hidden;
}
.chat-input button {
    float: right;
}

.games {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.gameboard {
    padding-bottom: 100%;
    background-color: #d0d0d0;
    box-sizing: border-box;
}

.gameboard td {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

td.gold-goal {
    background-color: #ddcc66;
}

td.silver-goal {
    background-color: #ccccf2;
}

td.trap {
    background-color: #edc0c0;
}

img.piece {
    position: relative;
    min-height: 4rem;
    min-width: 4rem;
    max-height: 4rem;
    max-width: 4rem;
}

img.captured {
    -webkit-animation: captured 1s forwards;
    -moz-animation: captured 1s forwards;
    animation: captured 1s forwards;
}

/* move animations */
@-moz-keyframes move-left { to { -moz-transform: left -4rem; } }
@-webkit-keyframes move-left { to { -webkit-transform: left -4rem; } }
@keyframes move-left { to { -webkit-transform: left -4rem; } }

@-moz-keyframes move-right { to { -moz-transform: left 4rem; } }
@-webkit-keyframes move-right { to { -webkit-transform: left 4rem; } }
@keyframes move-right { to { -webkit-transform: left 4rem; } }

@-moz-keyframes move-up { to { -moz-transform: top -4rem; } }
@-webkit-keyframes move-up { to { -webkit-transform: top -4rem; } }
@keyframes move-up { to { -webkit-transform: top -4rem; } }

@-moz-keyframes move-down { to { -moz-transform: top 4rem; } }
@-webkit-keyframes move-down { to { -webkit-transform: top 4rem; } }
@keyframes move-down { to { -webkit-transform: top 4rem; } }

/* capture animation */
@-moz-keyframes captured { to { -moz-transform: rotate(360deg) scale(0, 0); } }
@-webkit-keyframes captured { to { -webkit-transform: rotate(360deg) scale(0, 0); } }
@keyframes captured { to { -webkit-transform: rotate(360deg) scale(0, 0); } }

